
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import url('http://fonts.googleapis.com/css?family=Monospace');
* {
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
/* hero section background */
.rest{
    z-index: 2;
    max-width: 600px;
    margin: 0 auto;
    ;
}
.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top right;
  }

body {
    z-index: 1;
    background: #f2f2f2;
    align-items: center;
    width: 100%;
    text-align: center;
}
.icon{
    filter: invert(100%);
}
img.rounded {
    border: #f2f2f2 solid 9px;
    margin-top: 5%;
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  
.tex {
    margin-top: 10px !important;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
display: block;
white-space: pre;
text-align: left;
flex: 1;
min-width: 0;
}

.Box {
    
    object-fit: contain;
    background-color: var(--color-canvas-default);
    border-color: var(--color-border-default);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Titk{
    color:rgb(247, 243, 243)
}
header .logo {

    font-size: 30px;
    font-weight: bold;
    color: rgb(226, 220, 220);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.resze{
    width: 60%;
    height: 60%;
}
ul{
    z-index: 1  ;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.socials{
    color: rgb(248, 252, 252);
}
ul li{
    font-size: 10px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
}
table{
    
    margin-left: auto;
    margin-right: auto;
}
